<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { pageTitle: 'Not Found' }) %>
</head>
<body>
    <p>Page not found</p>
    <%- include('partials/navigation') %>
</body>
</html>
