<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { pageTitle: 'Success' }) %>
</head>
<body>
    <p>Student added successfully!</p>
    <%- include('partials/navigation') %>
</body>
</html>
